*{
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 20px;
    border: red solid;
    z-index: -1;
}
.boxh1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    z-index: 1;
    border:blue solid;
    width: 50%;
}
.boxh2{
    display: flex;
    height: 20px;
    width: 138ps;
    z-index: 2;
}
